dsl/difyforgitee/giteeKolors工作流.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: giteeKolors工作流
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1734503281575-source-1734503376625-target
      source: '1734503281575'
      sourceHandle: source
      target: '1734503376625'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1734503376625-source-1734505657943-target
      source: '1734503376625'
      sourceHandle: source
      target: '1734505657943'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: answer
      id: 1734505657943-source-1734505427122-target
      source: '1734505657943'
      sourceHandle: source
      target: '1734505427122'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: prompt
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: prompt
      height: 89
      id: '1734503281575'
      position:
        x: 92
        y: 292
      positionAbsolute:
        x: 92
        y: 292
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: 29303358-86a5-4a38-a3dc-5691788732d4
        provider_name: giteeapiKolors
        provider_type: api
        selected: false
        title: generateImage
        tool_configurations: {}
        tool_label: generateImage
        tool_name: generateImage
        tool_parameters:
          prompt:
            type: mixed
            value: '{{#1734503281575.prompt#}}'
        type: tool
      height: 53
      id: '1734503376625'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1734505657943.result#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 102
      id: '1734505427122'
      position:
        x: 1038
        y: 270
      positionAbsolute:
        x: 1038
        y: 270
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(arg1: str) -> str:\n    import json\n    data = json.loads(arg1)\n\
          \    filename=data['filename']\n    url=data['etag']\n    markdown_result\
          \ = f\"![{filename}]({url})\"\n    return {\"result\": markdown_result}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1734503376625'
          - text
          variable: arg1
      height: 53
      id: '1734505657943'
      position:
        x: 714
        y: 276
      positionAbsolute:
        x: 714
        y: 276
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 53
      y: 157
      zoom: 1
